<h2 class="heading-medium">Claim history</h2>
<ol class="timeline">
  <li class="timeline-entry">
    <h3 class="timeline-title">Claim disallowed</h3>
    <p class="timeline-info">
      <span class="timeline-author">by John Smith</span>
      <span class="timeline-date">1 January 2018</span>
    </p>
    <p class="timeline-body">
      Claimant over state pension age.
    </p>
  </li>

  <li class="timeline-entry">
    <h3 class="timeline-title">Marriage verified</h3>
    <p class="timeline-info">
      <span class="timeline-author">by John Smith</span>
      <span class="timeline-date">1 January 2018</span>
    </p>
    <p class="timeline-body">
      Marriage certificate uploaded to DRS.
    </p>
  </li>
</ol>