@media (min-width: 641px) {
  .example {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px;
  }
}

.example {
  border: 1px solid $border-colour;
  height: 300px;
  margin-bottom: 15px;
  margin-top: 15px;
  position: relative;
  resize: both;
}

.example::before {
  background: $border-colour;
  color: $page-colour;
  content: 'EXAMPLE';
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  left: 0;
  padding: .2105263158em .7894736842em;
  position: absolute;
  text-transform: none;
  top: 0;
}

.example::after {
  bottom: 0;
  color: $grey-1;
  content: 'Resize';
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: .2105263158em .7894736842em;
  position: absolute;
  right: 0;
  text-transform: none;
}
