{% extends "layout.html" %}

{% block page_title %}
  {{content.h1}} | DWP Design Examples
{% endblock %}

{% block content %}
	<main id="content" role="main">
		<div class="grid-row">
			<div class="column-two-thirds">
				<a href="/" class="link-back">Back</a>
				<h1 class="heading-large">
					{{content.h1}}<br />
					<span class="status-label status-label--primary" >Experimental</span>
				</h1>
				
				<p>
					{{content.description}}
				</p>
			</div>

			<div class="column-full">
				<div class="example">
					<iframe src="/live-demo/{{example}}"></iframe>
				</div>
			</div>

			<div class="column-two-thirds">
				<h2 class="heading-medium">When to use</h2>
				{{content.whenToUse | safe}}

				<h2 class="heading-medium">When not to use</h2>
        {{content.whenNotToUse | safe}}
			</div>

			<div class="column-full">
				<div class="code-tabs">
					<div class="code-tabs-nav">
						<ul class="code-tabs-list">
							{% if code.HTML %}
								<li>
									<a href="#tab-1">
										HTML
									</a>
								</li>
							{% endif %}
							{% if code.CSS %}
								<li>
									<a href="#tab-2">
										CSS
									</a>
								</li>
							{% endif %}
							{% if code.SASS %}
								<li>
									<a href="#tab-3">
										Sass
									</a>
								</li>
							{% endif %}
							{% if code.JS %}
								<li>
									<a href="#tab-4">
										Javascript
									</a>
								</li>
							{% endif %}
						</ul>
					</div>

					{% if code.HTML %}
						<div class="code-tabs-content">
							<div class="code-tabs-panel" id="tab-1">
								<div class="code-tabs-panel-inner">
									<h2 class="js-hidden heading-medium">
										HTML
									</h2>
									
									<pre>
										<code class="language-html">
{{ code.HTML | escape }}
										</code>
									</pre>
								</div>
							</div>
						{% endif %}

						{% if code.CSS %}
							<div class="code-tabs-panel" id="tab-2">
								<div class="code-tabs-panel-inner">
									<h2 class="js-hidden heading-medium">
										CSS
									</h2>
									
									<pre>
										<code class="language-css">
{{ code.CSS | escape }}
										</code>
									</pre>
								</div>
							</div>
						{% endif %}

						{% if code.JS %}
							<div class="code-tabs-panel" id="tab-3">
								<div class="code-tabs-panel-inner">
									<h2 class="js-hidden heading-medium">
										Sass
									</h2>
									
									<pre>
										<code class="language-css">
{{ code.SASS | escape }}
										</code>
									</pre>
								</div>
							</div>
						{% endif %}

						{% if code.JS %}
							<div class="code-tabs-panel" id="tab-4">
								<div class="code-tabs-panel-inner">
									<h2 class="js-hidden heading-medium">
										Sass
									</h2>
									
									<pre>
										<code class="language-javascript">
{{ code.JS | escape }}
										</code>
									</pre>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="column-two-thirds">
				{% if code.SKETCH %}
					<h2 class="heading-medium">Design downloads</h2>
					<ul class="list">
						<li>
							<a class="logo-sketch" href="/public/design-examples/{{example}}/.sketch.zip">
								Download Sketch file
							</a>
						</li>
					</ul>
				{% endif %}

				<h2 class="heading-medium">Research</h2>
        {{content.research | safe}}

				<h2 class="heading-medium">Services</h2>
        {{content.servicesUsing | safe}}
				
			</div>
		</div>
	</main>
{% endblock %}
