{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
	<main id="content" role="main">
		<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-large">
					DWP Design Examples
				</h1>
				
				<p>
					These designs for DWP services are based on the research and experience 
					of the DWP design community. You should use them to build on the GOV.UK 
					design patterns.
				</p>
				<p>
					These are the recommended standards for DWP service design.
				</p>

				<h2 class="heading-small">Recommended designs</h2>
				<ul class="list list-bullet">
					<li><a href="/example/declaration">Declaration</a></li>
				</ul>

				<h2 class="heading-small">Experimental designs</h2>
				<ul class="list list-bullet">
					<li><a href="/example/tabs">Tabs</a></li>
				</ul>
			</div>
		</div>
	</main>
{% endblock %}
